<div class="tab-content" id="our_team">

    <h2 class="section-title">Principal Investigator</h2>
    <div class="person-card pi">
        <!-- Photo -->
        <div class="person-photo">
            <img src="pictures/aravind.png" alt="Dr. Aravind Balan">
        </div>

        <!-- Info and Contact Side by Side -->
        <div class="person-pi-content">

            <!-- Left Info -->
            <div class="person-info">
                <h2 class="pi-name">Dr. Aravind Balan</h2>
                <div class="role">Assistant Professor</div>

                <div class="info-block">
                    <h4><strong>Research Interests:</strong></h4>
                    <ul>
                        <li>High-order numerical methods for CFD</li>
                        <li>Automated mesh adaptation techniques</li>
                        <li>Aerodynamic shape optimization</li>
                    </ul>
                </div>

                <div class="info-block">
                    <h4><strong>Education:</strong></h4>
                    <ul>
                        <li> PhD - RWTH Aachen University, Germany </li>
                        <li> BTech. - IIT Madras, India </li>
                    </ul>
                </div>

                <div class="info-block">
                    <h4><strong> Work Experience:</strong></h4>
                    <ul>
                        <li> Assistant Professor - IISc Bangalore (August 2022- present)</li>
                        <li> Assistant Professor - IIT Bombay (August 2021 - July 2022) </li>
                        <li> NASA Postdoctoral fellow - NASA Langley Research Center (Dec 2017 - July 2021)</li>
                        <li> Postdoctoral researcher - CERFACS, France (Oct 2015 - Sept 2017) </li>
                    </ul>
                </div>

            </div>

            <!-- Right Contact -->
            <div class="pi-contact-info">
                <h4><strong>Address:</strong></h4>
                <p>
                    Room No. AE141<br>
                    Department of Aerospace Engineering<br>
                    Indian Institute of Science<br>
                    Bangalore - 560012, India
                </p>

                <h4><strong>Email:</strong> <a href="mailto:aravindbalan@iisc.ac.in">aravindbalan@iisc.ac.in</a></h4>

                <h4><strong>Phone:</strong> <a href="tel:+918022933026">+91-80-2293-3026</a></h4>

                <h4><strong>IRINS Profile:</strong> <a href="https://iiscprofiles.irins.org/profile/337957"
                        target="_blank">Visit Profile</a></h4>


                <h4><strong>Google Scholar:</strong> <a href="https://scholar.google.co.in/citations?user=7gd1_3MAAAAJ"
                        target="_blank">View on Google
                        Scholar</a></h4>

                <h4><strong>Scopus ID:</strong> <a href="https://www.scopus.com/authid/detail.uri?authorId=57192067735"
                        target="_blank">View on
                        Scopus</a></h4>

                <h4><strong>WoS Researcher ID:</strong> <a
                        href="https://www.webofscience.com/wos/author/record/CFE-1798-2022" target="_blank">View on
                        WoS</a></h4>

            </div>

        </div>
    </div>





    <h2 class="section-title">Current Team Members</h2>
    <h3>PhD Students</h3>
    <div class="person-card-container">
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/dipendra.jpg" alt="Dipendra Kain">
            </div>
            <div class="person-info">
                <h3>Dipendra Kain</h3>
                <div class="role">PMRF PhD Student 2022-Present</div>
                <p>
                    <strong>Research topic:</strong>
                    Hp-Adaptation for Discontinuous Galerkin Methods
                </p>
                <h3><strong>Google Scholar:</strong> <a href="https://scholar.google.co.in/citations?user=7gd1_3MAAAAJ"
                        target="_blank">View on Google
                        Scholar</a></h3>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/himanshu.jpg" alt="Himanshu Kishnani">
            </div>
            <div class="person-info">
                <h3>Himanshu Kishnani</h3>
                <div class="role"> PhD Student 2023-Present</div>
                <p>
                    <strong>Research topic:</strong>
                    GPU-based High-Order Discontinuous Galerkin CFD solver
                </p>
                <h3>
                    <strong>ResearchGate:</strong>
                    <a href="https://www.researchgate.net/profile/Himanshu-Kishnani-3" target="_blank">View on Google
                        Scholar</a>
                </h3>
            </div>
        </div>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/deepak.jpg" alt="Deepak Varma">
            </div>
            <div class="person-info">
                <h3>Deepak Varma</h3>
                <div class="role"> PhD Student 2024-Present</div>
                <p>
                    <strong>Research topic:</strong>
                    High-order(curved) mesh generation, Hypersonic flows
                </p>
                <h3>
                    <strong>Google Scholar:</strong>
                    <a href="?" target="_blank">View on Google
                        Scholar</a>
                </h3>
            </div>
        </div>
    </div>

    <h3>Master's Students</h3>
    <div class="person-card-container">
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/manish.jpg" alt="Manish Sharma">
            </div>
            <div class="person-info">
                <h3>Manish Sharma</h3>
                <div class="role">2024-26</div>
                <p>
                    <strong>Project:</strong>
                    Not decided yet
                </p>
            </div>
        </div>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/sugesh.png" alt="Sugesh Kumar">
            </div>
            <div class="person-info">
                <h3>Sugesh Kumar</h3>
                <div class="role">2024-26</div>
                <p>
                    <strong>Project:</strong>
                    Simulation of Hypersonic Flow around the cylinder using Large Eddy
                    Simulations.
                </p>
            </div>
        </div>
    </div>

    <h2 class="section-title">Former Team Members</h2>
    <h3>Former Research Students</h3>
    <div class="person-card-container">
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/kush.jpg" alt="Kush Pandya">
            </div>
            <div class="person-info">
                <h3>Kush T. Pandya</h3>
                <div class="role">MTech-Research Aug/2022-Jan/2025</div>
                <p>
                    <strong>Research Interests:</strong>
                    Development of aerodynamic shape optimization methods, assessing discretization error effects on
                    optimal geometry, and controlling them via mesh adaptation.
                </p>
                <p>
                    <strong> Thesis Title: </strong>
                    Adjoint-Based Aerodynamic Shape and Mesh Optimization with
                    High-order Discontinuous Galerkin Methods
                </p>
                <h3>
                    <strong>Google Scholar:</strong>
                    <a href="https://scholar.google.com/citations?user=qBHYfb0AAAAJ&hl=en" target="_blank">View on
                        Google Scholar</a>
                </h3>
                <p>
                    Current Affiliation(s): GE Aerospace, Bengaluru
                </p>
            </div>
        </div>
    </div>


    <h3>Former Masters Students [MTech]</h3>
    <div class="person-card-container">
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/kunal.png" alt="Kunal Ghosh">
            </div>
            <div class="person-info">
                <h3>Kunal Ghosh</h3>
                <div class="role">2022-24</div>
                <p><strong>Project:</strong> Mesh adaptation using machine learning.</p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/subhrajyoti.png" alt="Subhrajyoti">
            </div>
            <div class="person-info">
                <h3>Subrajyoti Biswas</h3>
                <div class="role">2022-24</div>
                <p><strong>Project:</strong> Integrating hypersonic capabilities in high-order finite element
                    solver.
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/priyansu.jpg" alt="Priyansu Tank">
            </div>
            <div class="person-info">
                <h3>Priyansu Tank</h3>
                <div class="role">2023-25</div>
                <p><strong>Project:</strong> Development of 2D metric-based mesh generator.</p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/vidhi.png" alt="Vidhi Patel">
            </div>
            <div class="person-info">
                <h3>Vidhi Patel</h3>
                <div class="role">2023-25</div>
                <p><strong>Project:</strong> Mesh adaptation for hypersonic flows around re-entry vehicle.</p>
            </div>
        </div>

    </div>

    <h3>Former Project Associates</h3>
    <div class="person-card-container">
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/gowri.JPG" alt="Gowri MV">
            </div>
            <div class="person-info">
                <h3>Gowri M.V.</h3>
                <div class="role">Project Associate Dec/2022-March/2025</div>
                <p><strong>Project Title:</strong> Mesh adaptation for quad-dominant meshes.
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aditya.png" alt="Aditya Prajapati">
            </div>
            <div class="person-info">
                <h3>Aditya Prajapati</h3>
                <div class="role">Project Associate Dec/2022-Mar/2024</div>
                <p><strong>Project Title:</strong> Integration of hybrid mesh adaptation using refine with Eilmer
                    and
                    SU2 solvers.
                </p>
                <p>
                    Current Affiliation(s): PhD scholar, University of Queensland
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/mehul1.jpg" alt="Mehul Bakhshi">
            </div>
            <div class="person-info">
                <h3>Mehul Bakhshi</h3>
                <div class="role">Project Associate Aug/2023-Mar/2025</div>
                <p><strong>Project Title:</strong> Implementation of machine learning models for expediting the
                    metric-based mesh
                    adaptation process.
                </p>
                <p>
                    Current Affiliation(s): PhD scholar, Georgia Institute of Technology
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/shraman.jpg" alt="Shraman Maiti">
            </div>
            <div class="person-info">
                <h3>Shraman Maiti</h3>
                <div class="role">Project Associate July/2024-Mar/2025</div>
                <p><strong>Project Title:</strong> Mesh adaptation for heat flux prediction in hypersonic flows.
                    Pipelining CFD++ with
                    refine.
                </p>
                <p>
                    Current Affiliation(s): M.S. scholar, Indian Institute of Technology-Madras
                </p>
            </div>
        </div>

    </div>

    <h2 class="section-title">Internship Students</h2>
    <div class="card">
        <div class="table-wrapper">
            <table class="intern-table">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Period</th>
                        <th>Project Title</th>
                        <th>Affiliated Institute</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Abhigyan Roy</td>
                        <td>May-Aug,2023 & May-June,2024</td>
                        <td>Shape optimization for scramjet intake. Mesh adaptation for Compressible Flow
                            simulations.
                        </td>
                        <td>IIT-Madras</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Meghamitra Chowdhary</td>
                        <td>May-July, 2025 (SFRP)</td>
                        <td>Mesh format Converters from Netgen to msh and SU2, for an Anisotropic mesh generator
                            plugin.
                        </td>
                        <td>IIT-Patna</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Yash Shajil</td>
                        <td>May-July,2025 (SFRP)</td>
                        <td>Graph Algorithm design: for Code porting of Anisotropic metric based mesh generator from
                            Python to C++ (team design)</td>
                        <td>IIT-Madras</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Rohith</td>
                        <td>May-July,2025</td>
                        <td>In-house Elliptic grid generator for structured mesh generation.</td>
                        <td>NIT-Suratkhal</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Krishna</td>
                        <td>May-July,2025</td>
                        <td>Design of Numerical techniques: Code Development for code porting of Anisotropic metric
                            based mesh generator from Python to C++ (Team Design).</td>
                        <td>IIT-Bombay</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Omkar Jhadav</td>
                        <td>May-July,2025</td>
                        <td>Creation of Geometry conversion toolkit for Netgen to EGADS and STEP format and back.
                        </td>
                        <td>IIST, Trivandrum</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Rishabh Upadhyay</td>
                        <td>May-July,2025</td>
                        <td>In-House code writing for structured grid generation: the algebraic way.</td>
                        <td>IIST, Trivandrum</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Tanusha</td>
                        <td>May-July,2025</td>
                        <td>Machine learning for Anisotropic mesh adapatation using Ensemble and Seq. models.</td>
                        <td>VIT, Vellore</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>Gokula Krishna Tavva</td>
                        <td>May-Dec,2025</td>
                        <td>Development of a Metric-Based Anisotropic Mesh Generation Solver for
                            3D Computational Fluid Dynamics Applications</td>
                        <td>BITS-Pilani, Pilani</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Sohan Pattnayak</td>
                        <td>June-Dec,2025</td>
                        <td>Integration of adaptive mesh refinement-based algorithm (t8-Code) into
                            CFD Solvers”</td>
                        <td>BITS-Pilani, Pilani</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>