<div class="tab-content" id="our_team">

    <div class="card">
        <h3>Principal Investigator</h3>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Dr. Aravind Balan</h3>
                <div class="role">Assistant Professor</div>
                <p>Research interests: Mesh Adaptation, Computational fluid dynamics, High-order Numerical Methods,
                    Discontinuos Galerkin methods for CFD
                </p>
                <p>Email: [aravindbalan@iisc.ac.in] | Office: AE-243</p>
            </div>
        </div>
    </div>

    <h2 class="section-title">Current Team Members</h2>

    <div class="card">
        <h3>PhD Students</h3>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/dipendra.jpg" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Dipendra Kain</h3>
                <div class="role">PMRF 4th Year PhD Student 2022-Present</div>
                <p>Research topic: Quad Dominant Mesh Adaptation</p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Himanshu Kishnani</h3>
                <div class="role"> Third Year PhD Student 2023-Present</div>
                <p>Research topic: Discontinuos Galerkin Methods</p>
            </div>
        </div>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/deepak.jpg" alt="Deepak Varma">
            </div>
            <div class="person-info">
                <h3>Deepak Varma</h3>
                <div class="role"> Second Year PhD Student 2024-Present</div>
                <p>Research topic: High-order mesh generation, Mesh Adaptation for Hypersonic flows</p>
            </div>
        </div>
    </div>

    <div class="card">
        <h3>Master's Students</h3>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/manish.jpg" alt="Manish Sharma">
            </div>
            <div class="person-info">
                <h3>Manish Sharma</h3>
                <div class="role">2024-26</div>
                <p>Project: Not decided yet</p>
            </div>
        </div>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/sugesh.png" alt="Sugesh Kumar">
            </div>
            <div class="person-info">
                <h3>Sugesh Kumar</h3>
                <div class="role">2024-26</div>
                <p>Project: not known</p>
            </div>
        </div>
    </div>

    <h2 class="section-title">Former Team Members</h2>
    <div class="card">
        <h3>Former Research Students</h3>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/kush.jpg" alt="Kush Pandya">
            </div>
            <div class="person-info">
                <h3>Kush T. Pandya</h3>
                <div class="role">MTech-Research Aug/2022-Jan/2025</div>
                <p>Research interests: Development of aerodynamic shape optimization methods, assessing discretization
                    error effects on optimal geometry, and controlling them via mesh adaptation.
                </p>
                <p>Thesis Title: Not known (update here)
                </p>
                <p>
                    Current Affiliation(s): GE Aerospace, Bengaluru
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <h3>Former Masters Students [MTech-D]</h3>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/kunal.png" alt="Kunal Ghosh">
            </div>
            <div class="person-info">
                <h3>Kunal Ghosh</h3>
                <div class="role">2022-24</div>
                <p>Project: Mesh adaptation using machine learning.</p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/subhrajyoti.png" alt="Subhrajyoti">
            </div>
            <div class="person-info">
                <h3>Subrajyoti Biswas</h3>
                <div class="role">2022-24</div>
                <p>Project: Integrating hypersonic capabilities in high-order finite element solver.</p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/priyansu.jpg" alt="Priyansu Tank">
            </div>
            <div class="person-info">
                <h3>Priyansu Tank</h3>
                <div class="role">2023-25</div>
                <p>Project: Development of 2D metric-based mesh generator.</p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/vidhi.png" alt="Vidhi Patel">
            </div>
            <div class="person-info">
                <h3>Vidhi Patel</h3>
                <div class="role">2023-25</div>
                <p>Project: Mesh adaptation for hypersonic flows around re-entry vehicle.</p>
            </div>
        </div>

    </div>

    <div class="card">
        <h3>Former Project Associates</h3>
        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/gowri.JPG" alt="Gowri MV">
            </div>
            <div class="person-info">
                <h3>Gowri M.V.</h3>
                <div class="role">Project Associate Dec/2022-March/2025</div>
                <p>Project Title: Mesh adaptation for quad-dominant meshes.
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aditya.png" alt="Aditya Prajapati">
            </div>
            <div class="person-info">
                <h3>Aditya Prajapati</h3>
                <div class="role">Project Associate Dec/2022-Mar/2024</div>
                <p>Project Title: Integration of hybrid mesh adaptation using refine with Eilmer and SU2 solvers.
                </p>
                <p>
                    Current Affiliation(s): PhD scholar, University of Queensland
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/mehul1.jpg" alt="Mehul Bakhshi">
            </div>
            <div class="person-info">
                <h3>Mehul Bakhshi</h3>
                <div class="role">Project Associate Aug/2023-Mar/2025</div>
                <p>Project Title: Implementation of machine learning models for expediting the metric-based mesh
                    adaptation process.
                </p>
                <p>
                    Current Affiliation(s): PhD scholar, Georgia Institute of Technology
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/shraman.jpg" alt="Shraman Maiti">
            </div>
            <div class="person-info">
                <h3>Shraman Maiti</h3>
                <div class="role">Project Associate July/2024-Mar/2025</div>
                <p>Project Title: Mesh adaptation for heat flux prediction in hypersonic flows. Pipelining CFD++ with
                    refine.
                </p>
                <p>
                    Current Affiliation(s): M.S. scholar, Indian Institute of Technology-Madras
                </p>
            </div>
        </div>

    </div>


    <div class="card">

        <h3>Former Interns</h3>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Abhigyan</h3>
                <div class="role">Summer Intern May/2023-Aug/2023</div>
                <p>
                    Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Aditya</h3>
                <div class="role">Semester Intern May/2023-Jan/2024</div>
                <p>
                    Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Gayathri</h3>
                <div class="role">Year long intern May/2024-Apr/2025</div>
                <p>
                    Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Meghamitra</h3>
                <div class="role">Summer Intern May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Yash Shajil</h3>
                <div class="role">SFRP May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>


        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Rohith</h3>
                <div class="role">Summer Intern May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Krishna</h3>
                <div class="role">Summer Intern May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Omkar</h3>
                <div class="role">Summer Intern May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>

        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Rishabh</h3>
                <div class="role">Summer Intern May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>


        <div class="person-card">
            <div class="person-photo">
                <img src="pictures/aravind.png" alt="Aravind Balan">
            </div>
            <div class="person-info">
                <h3>Tanusha</h3>
                <div class="role">Summer Intern May/2025-July/2025</div>
                <p>Project Title: ----
                </p>
            </div>
        </div>

    </div>


</div>